*.iml

.gradle/
/build/
*/build/

local.properties
/local.properties

.idea/caches/
.idea/libraries/
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml

.DS_Store
/captures/

.externalNativeBuild/
.cxx/

# Keystore / signing key
*.jks
*.keystore

# APK / release output
app/release/